<h1>List of your Trips</h1>
<br>
<div class="travel-main-section d-flex m-5">
  <div class="travel-card mr-5">
    <% @travels.each do |travel| %>
      <h2><%= travel.name %></h2>
      <p><%= travel.description %></p>
      <p><%= travel.location %></p>
      <p><%= travel.price %> €</p>
      <div class="travel-date d-flex m-5">
        <p><%= travel.start_date %></p>
        <p><%= travel.end_date %></p>
      </div>
    <% end %>
  </div>
  <div class="team-card ml-5">
    <% @teams.each do |team| %>
      <h2><%= team.name %></h2>
      <p><%= team.capacity %></p>
    <% end %>
  </div>
</div>
